[pull]
    rebase = false
[alias]
    d = diff
    co = checkout
    ci = commit
    ca = commit -a
    cm = commit -m
    ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
    pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
    s = status
    br = branch
    lg = log
[user]
	name = CherryRamatis
	email = cherry.ramatis@gmail.com
