[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=sh /home/cherry/.emacs.d/exwm/start-exwm.sh
TryExec=sh
Type=Application
DesktopNames=exwm
